svg {
  font-family: 'Open Sans Condensed', sans-serif;
}

.bar {
  fill: #FF4081;
}

#temp-info {
  fill: #C5CAE9;
  font-weight: bold;
  font-size: 20px;
}

#dateInfo {
  font-size: 30px;
}

.bar:hover {
  fill: #C5CAE9;
}

.legend {
  fill: #C5CAE9;
  font-size: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.tick text {
  font-size: 12px;
  fill: #C5CAE9;
}

.axis text {
  font-family: 'Open Sans Condensed', sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #FF4081;
}

.axis.x path {
  display: none;
}

#dateInfo {
  fill: #C5CAE9;
}
