@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

svg {
   font-family: 'Open Sans Condensed', sans-serif;
}

.bar {
    fill: rgba(33, 150, 243, 1);
}

#temp-info {
    fill: #8BC34A;
    font-weight: bold;
    font-size: 20px;
}

.bar:hover {
    fill: #8BC34A;
}

.legend {
    fill: #2196F3;
    font-size: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.tick text {
    font-size: 12px;
    fill: #2196F3;
}

.axis text {
    font-family: 'Open Sans Condensed', sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #2196F3;
}

.axis.x path {
    display: none;
}