.errors {
  display: flex;
  flex-direction: column;
}

.error {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  background-color: #FF4081;
  margin-top: 3px;
  cursor: pointer;
}

.error span {
  padding-left: 5px;
}

.errors-container button {
  font-size: 16px;
  background-color: #FFCDD2;
  border: none;
  color: white;
}
