#search-container {
  display: flex;
  flex-direction: column;
}

#search-container form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#search-input {
  height: 35px;
  margin-bottom: 5px;
  font-size: 25px;
  border: none;
  border-bottom: solid 2px white;
  background-color: #303F9F;
  color: white;
}

#search-input:focus {
  outline: none;
  border-bottom-color: #FF4081;
}

#search-container button {
  font-size: 20px;
  width: 80px;
}

#founded-cities {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

.city-founded {
  margin: 5px;
  font-size: 30px;
  padding: 10px 20px;
}

#submit {
  margin: auto;
}
